<nav
  class="navbar navbar-expand-lg verde-claro border-1 text-white shadow fixed-top px-3 p-sm-3"
>
  <div class="container px-4">
    <div class="text-black">
      <i class="fa-brands fa-bootstrap"></i>
    </div>

    <button
      class="navbar-toggler border-0 bg-white"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#menu"
      aria-controls="menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end w-100 p-sm-5 p-3 p-lg-0 verde-claro"
      id="menu"
    >
      <div class="offcanvas-header text-black">
        <i class="fa-brands fa-bootstrap"></i>

        <button
          type="button"
          data-bs-dismiss="offcanvas"
          class="btn-close bg-white"
        ></button>
      </div>

      <div class="offcanvas-body text-center">
        <ul class="navbar-nav ms-auto mi-li">
          <li class="nav-item">
            <a class="nav-link" href="#">Lista de alumnos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> Lista de Profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
