<div class="bg-dark-subtle h-100">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="col-md-11 d-flex py-4 px-3 px-sm-4 px-md-2">
        <p>footer works!</p>
      </div>
      <div>
        <a href="#" class="text-decoration-none">
          <i
            class="fa-solid fa-arrow-up bg-white text-bg-info border-none h-100 px-4 mt-0 d-flex justify-content-center align-items-center col-md-4 mi-scroll"
          ></i>
        </a>
      </div>
    </div>
  </div>
</div>
